body {
  background-color: #1d1d1d;
  font-family: Inter;
}

* {
  font-family: Inter;
}

nav {
  display: block;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 27px;
  box-shadow: 0 0 15px rgb(10, 10, 10);
  font-weight: 500;
  font-family: Inter;
  height: 45px;
}
  
:root {
   --main-color: var(#32b5ff);
}
  
@font-face {
  font-family: Inter;
  src: url('assets/fonts/inter.ttf');
}
      
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
      
  nav li {
  margin-right: 1rem;
  position: relative;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.2s;
  float: right;
  list-style: none;
}
    
  li.title {
  font-size: 20px;
  float: left;
  margin-top: 12px;
  color: white;
  font-weight: bold;
}

  li img {
  display: block;
  height: 50px;
  margin-top: -13px;
  margin-right: -15px;
  margin-left: -22px;
}
      
  nav a {
  color: white;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: Inter;
  font-weight: 600;
  top: 10px;
  transition: 0.2s;
}
    
nav a:hover {
  background-color: white;
  padding-top: 10px;
  color: black;
  padding-bottom: 10px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 15px;
  cursor: pointer;
}
    
nav a.disabled:hover {
  cursor: default;
  background-color: gray;
  color: white;
}
    
nav a.disabled {
  color: gray;
}
    
.github-icon {
  height: 1.6rem;
  float: right;
  transition: all 0.3s;
}
    
.github-icon:hover {
  scale: 125%;
}
    
.nobg:hover {
  background-color: transparent;
  padding: none;
}
    
.nobg {
  background-color: transparent;
  padding: none;
}

.browse {
  height: 775px;
  width: 50%;
  border-radius: 30px;
  background-color: black;
  align-self: left;
  margin-left: 1px;
  margin-top: -25px;
}

h1.title {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

.wrapifier {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cc {
  width: 350px;
  height: 150px;
  border-radius: 35px;
  color: white;
  background-color: #1d1d1d;
  margin: 5px;
}

.cc-title {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.cc-desc {
  font-size: 15px;
  color: white;
  margin-left: 140px;
}

.cc-pfp {
  border-radius: 30px;
  width: 130px;
  height: 130px;
  margin: 10px;
}

.vflex {
  display: flex;
  flex-direction: column;
}